In [92]:
import numpy as np
import pandas as pd
from sklearn.svm import SVR

In [93]:
load_df = pd.read_csv('Data/DOM/Load Actuals/Processed/Aggregated/load.csv')
load_df

                      DATE       MW
0      2010-01-01 00:00:00  10273.0
1      2010-01-01 01:00:00   9960.0
2      2010-01-01 02:00:00   9797.0
3      2010-01-01 03:00:00   9715.0
4      2010-01-01 04:00:00   9851.0
...                    ...      ...
87643  2019-12-31 19:00:00  11682.0
87644  2019-12-31 20:00:00  11443.0
87645  2019-12-31 21:00:00  11167.0
87646  2019-12-31 22:00:00  10839.0
87647  2019-12-31 23:00:00  10593.0

[87648 rows x 2 columns]

In [94]:
weather_df = pd.read_csv('Data/DOM/Weather/Processed/Aggregated/weather.csv')
weather_df['DEW_C'] = (weather_df['DEW'] - 32) * (5.0/9)
weather_df['TMP_C'] = (weather_df['TMP'] - 32) * (5.0/9)
weather_df['RH'] = (np.exp((17.625*weather_df['DEW_C'])/(243.04+weather_df['DEW_C']))/np.exp((17.625*weather_df['TMP_C'])/(243.04+weather_df['TMP_C']))) 
weather_df.drop(['TMP', 'DEW', 'WND', 'DEW_C', 'TMP_C'], axis=1, inplace=True)
weather_df

                      DATE   CR    HR  XHR        RH
0      2010-01-01 00:00:00  0.0  13.0  1.0  0.924584
1      2010-01-01 01:00:00  0.0  13.0  2.0  0.924584
2      2010-01-01 02:00:00  0.0  13.0  1.0  0.924584
3      2010-01-01 03:00:00  0.0  13.0  2.0  0.961468
4      2010-01-01 04:00:00  0.0  13.0  2.0  0.924584
...                    ...  ...   ...  ...       ...
87643  2019-12-31 19:00:00  0.0   4.0  0.0  0.398229
87644  2019-12-31 20:00:00  0.0   4.0  0.0  0.396591
87645  2019-12-31 21:00:00  0.0   5.0  0.0  0.411376
87646  2019-12-31 22:00:00  0.0   8.0  0.0  0.515690
87647  2019-12-31 23:00:00  0.0   8.0  0.0  0.495189

[87648 rows x 5 columns]

In [97]:
calendar_df = pd.read_csv('Data/calendar.csv')
calendar_df

,DATE,IS_MONDAY,IS_TUESDAY,IS_WEDNESDAY,IS_THURSDAY,IS_FRIDAY,IS_SATURDAY,IS_SUNDAY,IS_JANUARY,IS_FEBRUARY,...,IS_JULY,IS_AUGUST,IS_SEPTEMBER,IS_OCTOBER,IS_NOVEMBER,IS_DECEMBER,IS_PREVDAY_HOLIDAY,IS_CURRENTDAY_HOLIDAY,IS_NEXTDAY_HOLIDAY,IS_DAYAFTER_HOLIDAY
0,2010-01-01 00:00:00,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2010-01-01 01:00:00,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,2010-01-01 02:00:00,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2010-01-01 03:00:00,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,2010-01-01 04:00:00,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87643,2019-12-31 19:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
87644,2019-12-31 20:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
87645,2019-12-31 21:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
87646,2019-12-31 22:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
87647,2019-12-31 23:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [98]:
df = pd.concat([load_df,weather_df, calendar_df]).groupby('DATE').mean()

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87648 entries, 2010-01-01 00:00:00 to 2019-12-31 23:00:00
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MW                     87648 non-null  float64
 1   CR                     87648 non-null  float64
 2   HR                     87648 non-null  float64
 3   XHR                    87648 non-null  float64
 4   RH                     87648 non-null  float64
 5   IS_MONDAY              87648 non-null  float64
 6   IS_TUESDAY             87648 non-null  float64
 7   IS_WEDNESDAY           87648 non-null  float64
 8   IS_THURSDAY            87648 non-null  float64
 9   IS_FRIDAY              87648 non-null  float64
 10  IS_SATURDAY            87648 non-null  float64
 11  IS_SUNDAY              87648 non-null  float64
 12  IS_JANUARY             87648 non-null  float64
 13  IS_FEBRUARY            87648 non-null  float64
 14  IS_MARCH               87648 non-null  float64
 15  IS_APRIL               87648 non-null  float64
 16  IS_MAY                 87648 non-null  float64
 17  IS_JUNE                87648 non-null  float64
 18  IS_JULY                87648 non-null  float64
 19  IS_AUGUST              87648 non-null  float64
 20  IS_SEPTEMBER           87648 non-null  float64
 21  IS_OCTOBER             87648 non-null  float64
 22  IS_NOVEMBER            87648 non-null  float64
 23  IS_DECEMBER            87648 non-null  float64
 24  IS_PREVDAY_HOLIDAY     87648 non-null  float64
 25  IS_CURRENTDAY_HOLIDAY  87648 non-null  float64
 26  IS_NEXTDAY_HOLIDAY     87648 non-null  float64
 27  IS_DAYAFTER_HOLIDAY    87648 non-null  float64
dtypes: float64(28)
memory usage: 19.4+ MB

In [100]:
x = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [101]:
from sklearn.model_selection import train_test_split

train_ratio = 0.75
validation_ratio = 0.15
test_ratio = 0.10

# train is now 75% of the entire data set
# the _junk suffix means that we drop that variable completely
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1 - train_ratio)

# test is now 10% of the initial data set
# validation is now 15% of the initial data set
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [102]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

In [103]:
import optunity
import optunity.metrics

data = x_val.values
data

targets = y_val.values

In [14]:
# we will use nested 3-fold cross-validation
# in the outer cross-validation pmseedure
# we make the decorator explicitly so we can reuse the same folds
# in both tuned and untuned approaches
outer_cv = optunity.cross_validated(x=data, y=targets, num_folds=3)

# compute area under mse curve of default parameters
def compute_mse_standard(x_train, y_train, x_test, y_test):
    model = SVR().fit(x_train, y_train)
    predictions = model.predict(x_test)
    return optunity.metrics.mse(y_test, predictions)

# decorate with cross-validation
compute_mse_standard = outer_cv(compute_mse_standard)
mse_standard = compute_mse_standard()
print('Nested cv mean squared error of non-tuned model: ' + str(mse_standard))

Nested cv mean squared error of non-tuned model: 6120302.121798883

In [15]:
def compute_mse_rbf_tuned(x_train, y_train, x_test, y_test):
    """Computes MSE of an SVR with RBF kernel and optimized hyperparameters."""

    # define objective function for tuning
    @optunity.cross_validated(x=x_train, y=y_train, num_iter=2, num_folds=5)
    def tune_cv(x_train, y_train, x_test, y_test, C, gamma):
        model = SVR(C=C, gamma=gamma).fit(x_train, y_train)
        predictions = model.predict(x_test)
        return optunity.metrics.mse(y_test, predictions)

    # optimize parameters
    optimal_pars, _, _ = optunity.minimize(tune_cv, 400, C=[1, 1000], gamma=[0, 50])
    print("optimal hyperparameters: " + str(optimal_pars))

    tuned_model = SVR(**optimal_pars).fit(x_train, y_train)
    predictions = tuned_model.predict(x_test)
    return optunity.metrics.mse(y_test, predictions)

# wrap with outer cross-validation
compute_mse_rbf_tuned = outer_cv(compute_mse_rbf_tuned)

In [16]:
compute_mse_rbf_tuned()

optimal hyperparameters: {'C': 999.6754962527316, 'gamma': 26.497286608657927}
optimal hyperparameters: {'C': 547.4061718749999, 'gamma': 0.015023887781933531}
optimal hyperparameters: {'C': 701.3536328125001, 'gamma': 0.023333005593254352}

3516812.1302303006

In [108]:
x_train_scaled

,CR,HR,XHR,RH,IS_MONDAY,IS_TUESDAY,IS_WEDNESDAY,IS_THURSDAY,IS_FRIDAY,IS_SATURDAY,...,IS_JULY,IS_AUGUST,IS_SEPTEMBER,IS_OCTOBER,IS_NOVEMBER,IS_DECEMBER,IS_PREVDAY_HOLIDAY,IS_CURRENTDAY_HOLIDAY,IS_NEXTDAY_HOLIDAY,IS_DAYAFTER_HOLIDAY
0,-0.615917,1.619094,0.954442,-0.957861,-0.408429,-0.406450,-0.407237,2.447340,-0.40848,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
1,-0.615917,-0.292528,-0.386373,0.252099,-0.408429,-0.406450,-0.407237,-0.408607,-0.40848,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
2,0.894386,-0.770434,-0.386373,0.492256,-0.408429,-0.406450,-0.407237,-0.408607,-0.40848,2.434516,...,-0.304086,-0.306349,3.341979,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
3,-0.615917,0.981886,0.060565,-0.536875,2.448404,-0.406450,-0.407237,-0.408607,-0.40848,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,3.286608,-0.175261,-0.175491,-0.176914,-0.178145
4,-0.615917,-0.770434,-0.386373,0.414764,-0.408429,-0.406450,-0.407237,-0.408607,2.44810,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65731,-0.615917,0.503981,-0.386373,1.374215,-0.408429,2.460329,-0.407237,-0.408607,-0.40848,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
65732,-0.615917,2.096999,2.742196,0.405934,-0.408429,-0.406450,-0.407237,-0.408607,-0.40848,2.434516,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
65733,-0.615917,-0.770434,-0.386373,0.279629,-0.408429,-0.406450,-0.407237,-0.408607,2.44810,-0.410759,...,-0.304086,-0.306349,-0.299224,3.259194,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
65734,-0.615917,1.459792,0.954442,1.355099,-0.408429,-0.406450,2.455573,-0.408607,-0.40848,-0.410759,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145
65735,-0.615917,0.822585,-0.386373,-1.211817,-0.408429,-0.406450,-0.407237,-0.408607,-0.40848,2.434516,...,-0.304086,-0.306349,-0.299224,-0.306824,-0.297713,-0.304265,-0.175261,-0.175491,-0.176914,-0.178145

In [104]:
model = SVR(kernel='rbf', C=701.3536328125001, gamma=0.023333005593254352)
model.fit(x_train_scaled, y_train)

SVR(C=701.3536328125001, gamma=0.023333005593254352)

In [105]:
y_pred_scaled = model.predict(x_test_scaled)

In [106]:
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(y_test, y_pred_scaled)

0.10340605805105321